name: CI

permissions:
  contents: write

on:
  push:
    branches: [ "main" ]
    tags: ['v*']
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    strategy:
      matrix:
        configuration: [Release]
    runs-on: windows-latest  # For a list of available runner types, refer to https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    env:
      Solution_Name: WoWheadDownloader.sln

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET workload
    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore

    - name: Package
      run: dotnet publish -c Release -r win-x64 --self-contained -p:PublishSingleFile=true

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        name: ${{ github.ref_name }}
        files: |
          WoWheadDownloader/bin/Release/net8.0/win-x64/publish/WoWheadDownloader.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
